.single-top, .single-bottom {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
}

.single-product-left, .single-product-right {
    font-family: 'Libre Franklin', serif;
    flex: 50%;
    margin-bottom: 50px;
}

/* Left */

.single-image {
    height: auto;
    padding-right: 15px;
}

.single-image img {
    width: 100%;
    height: auto;
    display: block;
}

/* Right */

.single-product-right h2 {
    font-family: "Roboto Slab", serif;
    color: #555;
}

.single-desc {
    font-family: 'Libre Franklin', serif;
    color: #444;
    font-size: 16px;
    margin: 0;
    line-height: 1.2;
}

.single-price {
    font-family: "Roboto Slab", serif;
    color: #444;
    font-size: 18px;
}

.single-product-right button {
    /* display: inline-block; */
    font-family: "Roboto Slab", serif;
    color: #fff;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #D26E4B;
    padding: 8px 12px;
    cursor: pointer;
    outline: none;
    border: 1px solid transparent;
    vertical-align: middle;
    box-sizing: border-box;
    margin: 40px 0;
    transition: 200ms ease all;
}

.single-product-right button:hover {
    background-color: rgb(145, 77, 52);
}